@model newtest.Models.site_history.graph_partial_test



<div id="@Html.DisplayFor(x=> Model.selected_num[0])" class="spiner-example">
    <div class="sk-spinner sk-spinner-double-bounce">
        <div class="sk-double-bounce1"></div>
        <div class="sk-double-bounce2"></div>
    </div>
</div>