<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <system.webServer>
    <monitoring xdt:Transform="Insert">
      <triggers>
        <!-- Scenario #1: Recycling based on Request Count -->
        <requests count="1000" timeInterval="00:10:00"/>
      </triggers>
      <!-- Scenario #1 -->
      <actions value="Recycle"/>

      <triggers>
        <!-- Scenario #2: Recycling based on slow requests -->
        <slowRequests timeTaken="00:00:30" count="20" timeInterval="00:02:00" />
      </triggers>
      <!-- Scenario #2 Action -->
      <actions value="Recycle"/>

      <triggers>
        <!-- Scenario #3: Logging an event (or recycling) based on HTTP status code(s) -->
        <statusCode>
          <add statusCode="500" subStatusCode="100" win32StatusCode="0" count="10" timeInterval="00:00:30"/>
        </statusCode>
      </triggers>
      <!-- Scenario #3 Action -->
      <actions value="Recycle"/>

      <triggers>
        <!-- Scenario #4: Taking custom actions (or recycling/logging) based on memory limit -->
        <memory privateBytesInKB="800000"/>
      </triggers>
      <!-- Scenario #4 Action -->
      <actions value="Recycle"/>

    </monitoring>
  </system.webServer>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>